In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial.distance import cdist 
from sklearn.cluster import KMeans

In [2]:
df=pd.read_csv("EastWestAirlines.csv")

In [3]:
df.shape

(3999, 12)

In [4]:
df.head(10)

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,1,28143,0,1,1,1,174,1,0,0,7000,0
1,2,19244,0,1,1,1,215,2,0,0,6968,0
2,3,41354,0,1,1,1,4123,4,0,0,7034,0
3,4,14776,0,1,1,1,500,1,0,0,6952,0
4,5,97752,0,4,1,1,43300,26,2077,4,6935,1
5,6,16420,0,1,1,1,0,0,0,0,6942,0
6,7,84914,0,3,1,1,27482,25,0,0,6994,0
7,8,20856,0,1,1,1,5250,4,250,1,6938,1
8,9,443003,0,3,2,1,1753,43,3850,12,6948,1
9,10,104860,0,3,1,1,28426,28,1150,3,6931,1

In [5]:
type(df_norm)

NameError: name 'df_norm' is not defined

In [ ]:
#Normalizing the data
def norm_func(i):
    x=(i-i.min()/i.std())
    return (x)

In [ ]:
df_norm=norm_func(df.iloc[:,1:])

In [ ]:
from scipy.cluster.hierarchy import linkage
import scipy.cluster.hierarchy as sch 
z=linkage(df_norm,method="complete",metric="euclidean")

In [ ]:
# Creating the dendrogram
plt.figure(figsize=(100,100));
plt.title('Hierarchical Clustering Dendrogram',fontsize=30,color='blue');
plt.xlabel('Index',fontsize=20,color='green');
plt.ylabel('Distance',fontsize=20,color='green')
sch.dendrogram(
    z,
    above_threshold_color= 'y',
    distance_sort = 'ascending',
    leaf_rotation=20.,  # rotates the x axis labels
    leaf_font_size=10,  # font size for the x axis labels 
)
plt.show()

In [ ]:
#Defining the clusters
from sklearn.cluster import AgglomerativeClustering
h_labels=AgglomerativeClustering(n_clusters=6,affinity="euclidean",linkage="complete").fit(df_norm)
clusters_labels=pd.Series(h_labels.labels_)
df["Clusters"]=clusters_labels
df_final=df.iloc[:,[0,6,1,2,3,4,5]]
df_final

In [ ]:
df.head(5)

In [ ]:
#Median 
df.iloc[:,2:].groupby(df.Clusters).median()

In [ ]:
#Exporting to csv
df.to_csv("EastWestAirlines_cluster.csv",encoding="utf-8")